style
  include style.css

img(src="#{rootPath}/images/logo.png")

p Hola #{name}, el administrador de Spanishpro.net te acaba de invitar a hacer parte del equipo de profesores.
p Activa de inmediato tu nombre de usuario y contrase&ntilde;a
a(href="#{rootPath}/reset_password.html?userId=#{userId}") ac&aacute;.
br
br
p Comienza a utilizar tu perfil desde este momento y a dar muchas clases de espa&ntilde;ol.
br
p Cualquier duda contactar al administrador.
p Saludos.
