style
  include style.css
  
img(src="#{rootPath}/images/logo.png")
br
h1 Hola #{name},
p Usted acaba de cancelar una clase reservada con m&aacute;s de 30 minutos de anticipaci&oacute;n.
p Sus detalles de la reserva cancelada son los siguientes:
p Fecha de la clase: #{date}
p Debido a que cancel&oacute; con m&aacute;s de 30 minutos de anticipaci&oacute;n, le devolveremos autom&aacute;ticamente su token.
p Saludos,
p Spanishpro.net
br
p ---------------------------------------------------------------------------------------------------------------
br

h1 Hello NOMBRE DE USUARIO,
p You have just cancelled a reserved class with more than 30 minutes in advance.
p The details of the cancelled reservation are the following:
p Date and time  of the class: FECHA Y HORA RESPECTIVA
p Because you cancelled with more than 30 minutes in advance, your token will be automatically returned.
p Regards,
p Sapnishpro.ne




