style
  include style.css

img(src="#{rootPath}/images/logo.png")

h1 Hola, #{name}
p Acabas de dar una clase. Como te fue?
p Hubo alg&uacute;n problema?
p Este es el espacio para reportar cualquier cosa y contarnos en general como estuvo la clase.
br
p Gracias y saludos,
br
p Administrador Spanishpro.net

