style
  include style.css
  
img(src="#{rootPath}/images/logo.png")
br
h1 Hola #{name},
p Usted acaba de cancelar una clase con menos de 2 Horas de anticipaci&oacute;n, por lo tanto se considera como FALTA GRAVE.
p Fecha de la clase cancelada: #{date}
p Recuerde que esto afecta su expediente.
p Saludos, 
p Spanishpro.net





