style
  include style.css
  
img(src="#{rootPath}/images/logo.png")
br
h1 Hola #{name},
p El alumno con el que usted ten&iacute;a una clase acaba de cancelar con suficiente antelaci&oacute;n.
p Los detalles de la clase cancelada son los siguientes:
p Fecha de la clase: #{date}
p En este caso no se le deducir&aacute; el token al alumno.
br
p Perd&oacute;n por los inconvenientes.
p Saludos,
br
p Sapnishpro.net







