style
  include style.css
  
img(src="#{rootPath}/images/logo.png")
br
h1 Hola #{name},
p El alumno con el que usted ten&iacute;a una clase acaba de cancelar con poca antelaci&oacute;n. Por lo tanto se le deducir&aacute; el token y se le pagar&aacute; a usted como si hubiera dado la clase.
p Los detalles de la clase cancelada son los siguientes:
p Fecha de la clase: #{date}
p Esta clase contar&aacute; como una de sus clases dictadas.
br
p Perd&oacute;n por los inconvenientes.
p Saludos,
p Sapnishpro.net







