style
  include ../style.css
  
img(src="#{rootPath}/images/logo.png")
br
h1 Hola #{name},
p Usted acaba de cancelar una clase reservada con menos de 30 minutos de anticipación.
p Sus detalles de la reserva cancelada son los siguientes:
p Fecha de la clase: #{date}
p Debido a que cancel&oacute; con menos de 30 minutos de anticipaci&oacute;n, no podremos deolverle su token, ya que debemos pagarle esa hora al profesor.
p Evite cancelar con tan poca anticipaci&oacute;n la pr&oacute;xima vez.
p Saludos,
p Spanishpro.net
br
p ---------------------------------------------------------------------------------------------------------------
br
h1 Hello NOMBRE DE USUARIO,
p You have just cancelled a reserved class with less than 30 minutes in advance.
p The details of the cancelled reservation are the following:
p Date and time  of the class: FECHA Y HORA RESPECTIVA
p Because you cancelled with less than 30 minutes in advance, your token will not be returned because we must pay the teacher for that hour.
p Regards,
p Sapnishpro.net




