<!DOCTYPE html>

<div static_page id="ng-app" ng-app ng-init="language='esp'" ng-init="to_show=''">
    <input type="radio" ng-model="language" name="language"  value="esp"/> Español
    <input type="radio" ng-model="language"  name="language" value="en"/> Ingles
    
    <div ng-show="language=='esp'">
        <h1>Servicios Complementarios</h1>
        
        <div content>
            <p>
                Queremos ser la mano ayuda de todos los estudiantes en todo tipo de necesidades derivadas 
                del estudio del español.
            </P>    
    
            <p>
            La forma de ofrecer estos servicios <b>será a través de comunicación por correo electrónico 
            con el administrador del sitio web. Esta asesoría  o consejos se prestarán sin costo y 
            por ende sin compromiso por parte de la empresa.</b> La idea es ser una ayuda o un pie en 
            el país para los interesados.
            </p>
    
            <p>
                El servicio estará disponible para estudiantes que ya hayan tomado un mínimo de 10 clases 
                de español a través del sitio.
            </p>
            
            <ul>
                <li>
                    <b>Asesoría básica en preparación para vacaciones en Colombia:</b>
                    <ul>
                        <li>
                            El tener el consejo práctico de un habitante de la ciudad que conoce
                            todos los pormenores del país, ya sean trucos para ahorrar, lugares
                            que visitar, maneras de hacerlo y zonas que evitar.
                        </li>
                    </ul>
                </li>        
                <li>
                    <b>Apoyo para conseguir prácticas, trabajos, cursos de español o 
                    universitarios en Colombia:
                    </b>
                    
                    <ul>
    
                        <li>Consejo general: Lugares a donde enviar hoja de vida.</li>
                        <li>Llamadas y averiguación de información: Llamar a una empresa</li>
                        <li>Asesoría en procesos de aplicación a universidades: Se puede                                 
                        una universidad acá en Colombia para averiguar algún asunto es                                 
                        muchas veces difícil para un extranjero y muy fácil para nosotros.                                
                        averiguar fácilmente dudas específicas del proceso, estado del                                 
                        trámite y demás. Nuevamente, estas son cosas difíciles para un                                 
                        extranjero y sencillas para un nativo.
                        </li>
                    </ul>
                </li>    
                <li>    
                    <b>Soporte a conseguir alojamiento</b>
                    <ul>
                        <li>Consejo general: Asesoría con respecto al precio, condiciones de
                            contrato y zona en la cual arrendar
                        </li>    
                        
                        <li>Alianzas con agencias de arrendamiento: Se hará contacto con                                 
                        contrato y zona en la cual arrendar                                
                        agencias de arrendamiento para estudiantes, con lo cual se le dará                                 
                        confianza al estudiante.
                        </li>
                    </ul>
                </li>
                            
                            
                <li>
                    <b>Asesoría en trámites ante autoridades colombianas</b>
                    
                    <ul>
                        <li>Conexión con traductores oficiales por el Ministerio</li>                            
                        <li>Apoyo en el proceso de visado</li>
                     </ul>
                </li>
                       
            </ul>
            
            <p>
            TOME LA DECISIÓN Y VENGA A ESTUDIAR O A VISITAR A COLOMBIA. 
            DESCUBRA PORQUÉ ESTE PAÍS ENAMORA A TODO EXTRANJERO QUE VIENE 
            A VISITAR
            </p>
        </div>
    </div>
    
    <div ng-show="language=='en'">
        <h1>Additional Services</h1>
        
        <p>
            We want to be the help in the country for all the students in the needs that arise
            simultaneously with the study of Spanish.
        </p>    

        <p>
            The way of offering these services <b>will be through emails with the administrator of the 
            site. This help will be given free, so we will not guarantee anything or be committed 
            with it.</b> We will just give advise and be a friend of the student.
        </p>
        <p>
            The service will be available for students that have taken more than 10 classes with us.
        </p>
        
        <ul>
            <li>
                <b>Basic advice to prepare holidays in Colombia</b>
                <ul>
                    <li>    
                    Having the advice of a native in regards of how to plan a holiday is 
                    valuable. We can give tips to decide where to go and how to save as 
                    well as areas to avoid.
                    </li>
                </ul>   
            <li>
                <b>Help on how to get internships, jobs, Spanish courses or university 
                courses in Colombia</b>
                <ul>
                    <li>General advise: Places to where to send your CV</li>
                    <li>Calls and support on finding information: Call someplace from
                    abroad in order to find out some information is hard to every 
                    foreigner and easy for us.</li>
                    <li>Advice on application processes to universities: We can support you 
                        abroad in order to find out some information is hard to every 
                        foreigner and easy for us. in the process and help you understand how things are done here in 
                        Colombia.
                    </li>
                </ul>    
            </li>    
            <li>
                <b>Advice on getting accommodation in Colombia:</b>
                <ul>
                    <li>
                        General advice: We can help you in regards of the price to pay, the
                        area to stay and the rules of the contracts
                    </li>
                    <li>
                        Alliances with accommodation agencies: We will have the contact of                     
                        area to stay and the rules of the contracts many agencies specialized in students so we will provide trust to the 
                        client.
                    </li>
                </ul>
            </li>
            <li>
                <b>Advice in legal procedures in Colombia:</b>
                <ul>
                    <li>Connection with certified translators of any language</li>
                    <li>Support in the process of getting a VISA</li>
                </ul>
            </li>
        </ul>
        <p>
            MAKE THE DECISION, COME TO STUDY AND VISIT COLOMBIA. FIND OUT 
            WHY IT’S A PLACE THAT MAKES EVERY FOREIGNER FALL IN LOVE
        </p>
    </div>
</div>    