<!DOCTYPE html>

<html lang=es>
<head>
    <title>Spanishpro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta charset='ISO-8859-1'>
        
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" media="(max-width: 1000px)" type="text/css" href="css/styles_max_1000.css">
    <link rel="stylesheet" media="(max-width: 850px)" type="text/css" href="css/styles_max_850.css">
    <link rel="stylesheet" media="(max-width: 750px)" type="text/css" href="css/styles_max_750.css">
    <link rel="stylesheet" media="(max-width: 600px)" type="text/css" href="css/styles_max_600.css">
    <link rel="stylesheet" media="(max-width: 400px)" type="text/css" href="css/styles_max_400.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>    
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    
    <script src="js/ng-file-upload-shim.min.js"></script> 
    <script src="js/ng-file-upload.min.js"></script>

    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script
                                                                       
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>    
    
    <script src="js/valid.js"></script> 
    <script src="js/countries.js"></script>
    <script src="js/config.js"></script>
    <script src="js/combos.js"></script>
    <script src="js/tokens.js"></script>
    <script src="js/classs.js"></script>
    <script src="js/teachers.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/date.js"></script>
    
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
        
</head>

<body  id="ng-app" ng-app="spanishpro" ng-controller="StateCtrl  as sc">
    <div for="main" class="dialog" user_register>
    
    </div>
    
    <div for="main" class="dialog" reset_password>
            
    </div>
    
    <div for="main" class="dialog" forget_password>
            
    </div>
    
    <div for="main" class="dialog" login  >
            
    </div>    

    <div id="main" main_container>
       <div home_head   ng-show="currentUser.type != 'Admin' &&($state.current.name == 'home' || $state.current.name ==  'reset_password')">
            <div>
                <img src="images/homefoto.png"/>
                
            </div>
            
            <div logo></div>
            <a href="index.html#/home"><img src="images/logo.png" img_logo/></a>
            <div menu >
                <a href="index.html#/Perfil" ng-class="{selected: $state.current.name == 'perfil'}" ng-show="currentUser">Perfil</a>
                <a href="index.html#/como_funciona" ng-class="{selected: $state.current.name == 'como_funciona'}">¿Cómo funciona y metodología?</a>
                <a href="index.html#/modo" ng-class="{selected: $state.current.name == 'modo'}">Servicios complementarios</a>
                <a href="index.html#/clases" ng-class="{selected: $state.current.name == 'clases'}">Wall/Calendar</a>
                <a href="index.html#/profesores" ng-class="{selected: $state.current.name == 'profesores'}">Profesores</a>
                <a href="index.html#/tokens" ng-class="{selected: $state.current.name == 'tokens'}" ng-show="currentUser && currentUser.type == 'Student'">Tokens</a>
            </div>

            
            <div text_hide text>
                <div content>
                    <p>Nada de clases formales sólo conversación</p>                
                    <p>Obtén sesiones gratis al convertirte en uno de nuestros pioneros</p>
                </div>
            </div>
            
            <div text_hide2>
                <div content>
                    <p>Si realmente quieres hablar español debes estar en contacto
                    con gente que sepa hablarlo</p>                
                </div>
            </div>
            
            <div register_button button ng-click="rc.showRegister('Student')" ng-controller="RegisterController  as rc" ng-hide="currentUser" >
                <span>Registrate</span>
            </div>
            
            <div  button re_button ng-click="">
                <a href="pionners.html" target="_blank" style="text-decoration: none">¿Quiere ser pionero?</a>
            </div>
            
            <div class="second_button" user_login login_button login_button_home ng-click="lc.showLoginDialog()" ng-controller="LoginController  as lc"
                ng-show="!currentUser">
                
                <a href="index.html#/login">Login</a>
            </div>
            
            <div class="second_button" user_login login_button  login_button_home ng-controller="LoginController  as lc"  ng-show="currentUser">
                
                <span >{{currentUser.name}}</span>
            </div>
            
            <div class="second_button"  logout_button logout_button_home ng-controller="LoginController  as lc"  ng-show="currentUser">
                
                <span ng-click="lc.logout()">Cerrar session / Logout</span>
            </div>
            
            <div ng-hide="currentUser" class="second_button" forget_password_button user_login ng-click="fc.showForgetPassword()" ng-controller="ForgetController  as fc">
                <a href="index.html#/forget_password">&iquest;Olvido su contrase&ntilde;a? / Forgot your password?</a>
            </div>
            
            <div user_message>
                Disfruta de una sesión gratuita en vivo y conoce nuestra metodología
            </div>               
        </div>
               
	<div another_head  ng-show="currentUser.type == 'Admin' || ($state.current.name != 'home' && $state.current.name !=  'reset_password')">
            
            <div>
                <img src="{{'images/foto' + currentPicture + '.png'}}"/>
                
            </div>
            
            <div logo></div>
            <a href="index.html#/home"><img src="images/logo.png" img_logo/></a>
            <div menu ng-show="currentUser.type != 'Admin' && $state.current.name != 'home'">  
                <a href="index.html#/Perfil" ng-class="{selected: $state.current.name == 'perfil'}" ng-show="currentUser">Perfil</a>
                <a href="index.html#/como_funciona" ng-class="{selected: $state.current.name == 'como_funciona'}">¿Cómo funciona y metodología?</a>
                <a href="index.html#/modo" ng-class="{selected: $state.current.name == 'modo'}">Servicios complementarios</a>
                <a href="index.html#/clases" ng-class="{selected: $state.current.name == 'clases'}">Wall/Calendar</a>
                <a href="index.html#/profesores" ng-class="{selected: $state.current.name == 'profesores'}">Profesores</a>
                <a href="index.html#/tokens" ng-class="{selected: $state.current.name == 'tokens'}" ng-show="currentUser && currentUser.type == 'Student'">Tokens</a>
            </div>
            
            <div menu ng-show="currentUser.type == 'Admin'">
                <a href="index.html#/profesores" ng-class="{selected: $state.current.name == 'profesores'}">Profesores</a>
                <a href="index.html#/admin" ng-class="{selected: $state.current.name == 'admin'}">Configurar</a>
                <a href="index.html#/tokens_admin" ng-class="{selected: $state.current.name == 'tokens_admin'}">Clases/Tokens</a>
            </div>
            
            <div class="second_button" login_button_not_home user_login login_button  ng-controller="LoginController  as lc" ng-show="currentUser">
                {{currentUser.name}}
            </div>
            
            <div class="second_button"  logout_button logout_button_not_home  ng-controller="LoginController  as lc"  ng-show="currentUser">                
                <span ng-click="lc.logout()">Cerrar session / Logout</span>
            </div>            
            
         
        </div>
        
        <div about_us  ng-show="currentUser.type != 'Admin' && ($state.current.name == 'home' || $state.current.name ==  'reset_password')">

            
            <div container>
               <h1>Conoce nuestros increíbles combos y tarifas:</h1>
               
               <div class="combo_container">
                    <span>
                        <img src="images/bronze.png"/>    
                    </span>
                    
                    <span>
                         <img src="images/silver.png"/>   
                    </span>
                    
                    <span>
                         <img src="images/gold.png"/>   
                    </span>
               </div>
            </div>
            
        </div>
        
       <div time ng-show="currentUser.type != 'Admin' && ($state.current.name == 'home' || $state.current.name ==  'reset_password')">
        
            <h1>Lo que nos diferencia</h1>
            <br>
            <br>    
            <ul>
                <li>Sesiones 100% personalizadas</li>
                <li>Tarifas únicas</li>
                <li>Flexibilidad total para reservar y cancelar</li>
                <li>Servicios complementarios al estudio del español</li>
                <li>Dirigido a estudiantes con nivel medio y superior de español</li>
                <li>Evaluaciones periódicas gratuitas del avance</li>
            </ul>

            <br>            
            <p>Lo más cerca de la inmersión en español que puedes alcanzar sin viajar!!!</p>
            <br>
            <p>Para personas que sólo necesitan practicar y no pagar altos precios por más clases formales</p>
            
            <p>Descubre nuestra sencilla metodología</p>
            <br>
            <p>Revisa las clases ofrecidas por nuestros profesores  y escoge la hora que desees o solicita la hora que tú quieras y recibirás clase</p>
            <br>
            <p>Flexibilidad y disponibilidad sin comparación</p>
            

        </div>
     
        <div  ui-view ng-show="currentUser.type == 'Admin' || $state.current.name != 'home'" >
            
        </div>
        
        <div ng-controller="StaticPageController  as spc">
                    
            <div footer ng-show="currentUser.type != 'Admin'">
                  
                <span footer_menu_container  >
                    <a footer_menu href="term_cond.html" target="_blank">Terminos y Condiciones</a>
                    <a href="Privacy_policy.html" target="_blank" footer_menu >Politicas de Privacidad</a>
                    <a href="" footer_menu onclick="showDialog('[contact_admin_dialog]')">Contacto</a>
                    <a href="FAQ.html" footer_menu target="_blank">FAQ</a>                    
                </span>    
            </div>
            
            <div ng-show="spc.showDialog" class="dialog" static_page_dialog>
                <div close ng-click="spc.showDialog = false">X</div>
                <h1>{{spc.title}} aaaaaa</h1>
                <p>{{spc.content}}</p> 
            </div>            
        </div>
        
        <div ng-controller="AdminContactController  as acc">
                    
            <div class="dialog" contact_admin_dialog >
                <div close ng-click="acc.closeDialog()">X</div>
                
                <div class="row">
                    <h1>Contactar al Administrador</h1>
                </div>
                
                <div ng-hide="currentUser" class="row">
                    <label>Correo</label>
                    <input type="text" ng-model="acc.email"/>
                </div>
                
                <div class="row">
                    <textarea ng-model="acc.content">
                    
                    </textarea>
                </div>
                
                <div contact_admin_button button ng-click="acc.contact()">
                    <span>Ok</span>
                </div>                   
            </div>            
        </div>        
    </div>
    
</body>

<script src="user_register/js/loader.js"></script>   
<script src="user_register/js/user_register.js"></script>  
<script src="js/angular_module.js"></script>
</html>