<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script> 
<div another_head>
    
    <div>
        <img src="images/foto1.png"/>
        
    </div>
    
    <img src="images/logo.png" img_logo/>
</div>
        
        
<div static_page ng-app ng-init="language='esp'" ng-init="to_show=''">
    <input type="radio" ng-model="language" name="language"  value="esp"/> Español
    <input type="radio" ng-model="language"  name="language" value="en"/> Ingles
        
    <div content ng-show="language=='esp'">
        <h1>Politica de privacidad</h1>
        
        <p>
            Spanishpro.net hará todo lo posible por proteger los datos personales de todos sus estudiantes y 
            usuarios con el fin de asegurar que su experiencia en el sitio sea segura y divertida.
        </p>
        
        <p>        
            La siguiente política de privacidad aquí expresada hace referencia a qué información toma 
            Spanishpro.net de sus usuarios al momento de registrarse y durante su permanencia en la página 
            y la manera en que la usa.
        </p>
        
        <p>
            <b>¿Qué datos personales me pedirá Spanishpro.net?</b>
        </p>    
        <p>
        Usted puede navegar inicialmente en el sitio de manera segura sin revelar ningún tipo de             
        información. En el momento en que decide registrarse le pediremos algunos datos personales             
        tales como su nombre, dirección de correo electrónico, número de teléfono, país de residencia y la             
        manera en que escuchó sobre nosotros. Completando estos campos de información nos permite             
        ofrecerle clases más personalizadas hacia sus necesidades y perfil específico.
        </p>
        <p>
        Nosotros no guardamos ni recibimos ninguno de sus datos de pago, usted siempre pagará a través             
        de una plataforma segura de terceros especializada en los pagos en línea. Sabemos que estas             
        plataformas especializadas pueden proveer mejor seguridad para datos tan importantes como los             
        datos de su tarjeta de crédito.
        </p>
        
        <p>
            <b>¿Como utiliza Spanishpro.net sus datos personales?</b>
        </p>
        
        <p>
            Spanishpro.net utilizará sus datos personales de las siguientes maneras:
            <ul>
                <li>
                    Por razones administrativas, por ejemplo contactándolo a su correo electrónico para darle             
                    una nueva clave, recordarle de una clase u ofrecerle alguna promoción propia del sitio.
                </li>
            
                <li>
                    Por razones académicas, por ejemplo su profesor le podrá enviar material de clase o             
                    asuntos de su interés a su correo.
                </li>
             </ul>
        </p>    

        <p>    
            <b>¿Compartirá Spanishpro.net mis datos personales con alguien más?</b>
        </p>
        
        <p>Nosotros nunca compartiremos sus datos personales con ningún tercero o empresa de publicidad.</p>

        <p>
            <b>¿Durante cuánto tiempo tendrá Spanishpro.net mis datos personales?</b>
        </p>
        <p>
            Tendremos sus datos personales únicamente durante el tiempo que usted dure como usuario de 
            nuestro sitio.
        </p>    

        <p>
            <b>¿Cómo protege Spaishpro.net mis datos personales?</b>
        </p>
        <p>        
            Spanishpro.net siempre hace un alto esfuerzo en mantener seguros los datos de sus usuarios. Por 
            ejemplo hacemos uso de una base de datos segura y limitamos el acceso a empleados a la 
            información de nuestros usuarios. Usamos un servidor seguro que recibe y guarda todos los datos 
            de los usuarios, adicionalmente, todos los correos están siempre encriptados para proteger su 
            contenido.
        </p>
        
        <p>
            Como se mencionó anteriormente nunca almacenamos ni tenemos acceso a su información y 
            detalles de pago.
        </p>

        <p>
            <b>Cambios en la política de privacidad de Spanishpro.net</b>
        </p>
        <p>En cualquier momento podremos modificar la información contenida en estos términos, con el fin 
            de actualizarla para nuestros usuarios.</p>

        <p>Si tiene alguna duda, contáctenos.</p>        
    </div>

    <div content ng-show="language=='en'">
        <h1>Privacy policy</h1>
        
        <p>            
            Spanishpro.net shall protect all the personal details of all its students and users in order to 
            ensure that their learning experience is safe and enjoyable.
        </p>
        
        <p>
        The privacy policy expressed in here refers to which data we collect and how we use the 
        personal details the student provides via the Spanishpro.net website during the registration 
        process or through his or her profile.
        </p>
        
        <p>
            <b>What personal data will Spanishpro.net will ask me for?</b>
        </p>    

        <p>        
            You can safely navigate in the website without giving any information. In the moment when you 
            decide to register with Spanishpro.net , we shall request some personal details such as your name, 
            email address, landline or mobile phone number, country of residence and the way you heard 
            about us. Completing the fields required with your personal details allows us to tailor the classes, 
            so that the service would be as personalized as posible.
        </p>

        <p>        
        We do not save any payment details, you will always pay through a third-party safe platform and 
        your details wont be stored with us. We know that these specialized sites can provide better 
        security than us in such a serious matter as the details of your credit card.
        </p>
        
        <p>
            <b>How does Spanishpro.net uses the information that I provide?</b>
        </p>    
        <p>
            Spanishpro.net shall use your personal details in the following ways:
    
            <ul> 
                <li>
                    For administrative reasons, which means that Spanishpro.net can contact you to remind you of a             
                    password a class or inform you about a discount or promotion of the website.
                </li>    
                <li>
                    For academic reasons, which means that your teacher may contact you to give some additional             
                    information related to the clases.
               </li>
            </ul>
        </p>    

        <p>
            <b>Will Spanishpro.net share my personal data with anyone else? </b>
        </p>
        
        <p>
            We WILL NOT use your personal data in any other way and we WILL NOT provide it to third parties 
            or advertisement companies.
        </p>
        
        <p>
            <b>How long will Spanishpro.net keep my personal details?</b>
        </p>    

        <p>
            We shall keep your personal details in our system for the period that you are a user of 
            Spanishpro.net. 
        </p>
        
        <p>
            <b>How will Spanishpro.net protect my personal details?</b>
        </p>    
        <p>
        Spanishpro.net attempts to always guarantee the security of your personal details, as well as the 
        transactions you make. We use appropriate security measures, such as a safe database and limited 
        access of employees to the user´s information. We use a safe server that receives and stores the 
        data that you provide when you register and any personal data that you send by email is 
        encrypted safely.
        </p>

        <p>As we already said, we do not save any payment information, such as your credit card number.</p>

        <p>
            <b>Changes in Spanishpro.net´s privacy policy</b>
        </p>    
        <p>
        This policy may be updated periodically, so that it will be always updated for the public.        
        If you have any doubt contact us.
        </p>
    </div>
</div>
