<!DOCTYPE html>


<div static_page_config ng-controller="StaticPageConfigController  as spcc">
    <h1>Paginas Estaticas</h1>
    
    <div>
        <label>Selecione una pagina</label>
        <select ng-model="spcc.pageSelected" ng-change="spcc.setContent()">
            <option ng-repeat="page in spcc.staticPagesConfig" value="{{page.page}}">{{page.page}}</option>    
        </select>
        
        <div save_pages_config button ng-click="spcc.savePageConfig()" >
            <span>Guardar todos los cambios</span>
        </div>        
    </div>
    
    <div>
        <textarea ng-model="spcc.currentContent"></textarea>  
    </div>    
 </div>   
