<!DOCTYPE html>

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script> 
<div another_head>
    
    <div>
        <img src="images/foto1.png"/>
        
    </div>
    
    <img src="images/logo.png" img_logo/>
</div>
        
        
<div static_page ng-app ng-init="language='esp'" ng-init="to_show=''">
    <input type="radio" ng-model="language" name="language"  value="esp"/> Español
    <input type="radio" ng-model="language"  name="language" value="en"/> Ingles
        
    <div content ng-show="language=='esp'">
        <h1 ng-click="to_show=1">Términos y condiciones</h1>
        
        <div ng-show="to_show==1">
            <p>
                Este documento describe los términos y condiciones generales aplicables al acceso y uso de los 
                servicios ofrecidos por Spanishpro.net dentro del sitio www.spanishpro.net. Cualquier persona 
                que desee acceder y/o suscribirse y/o usar el sitio web o los servicios del mismo podrá hacerlo 
                sujetándose a los Términos y Condiciones Generales, junto con todas las demás políticas y 
                principios que rigen a www.spanishpro.net expresados en este u otros contenidos del sitio web. 
                En consecuencia, todas las visitas y todas las transacciones que se realicen en este sitio, como 
                asimismo sus efectos jurídicos, quedarán regidos por estas reglas y sometidos a la legislación 
                aplicable en Colombia.            
            </p>
            <p>
                Cualquier persona que no esté de acuerdo y por ende que no acepte estos términos y condiciones 
                generales de carácter obligatorio y vinculante, deberá abstenerse de utilizar el sitio y/o los 
                servicios.            
            </p>
            <p>
                El Usuario debe leer, entender y aceptar todas las condiciones establecidas en los Términos y 
                Condiciones Generales y en las Políticas de Privacidad de www.spanishpro.net antes de comenzar 
                a utilizar los servicios del mismo.            
            </p>
            <p>
                Si el usuario decidiera hacer uso del sitio web www.spanishpro.net, ello implicará la aceptación 
                plena de las condiciones establecidas en los Términos y Condiciones Generales y en las Políticas de 
                privacidad de www.spanishpro.net. Por dicha utilización del sitio y/o sus servicios, el usuario se 
                obligará a cumplir expresamente con las mismas, no pudiendo alegar el desconocimiento de tales 
                Términos y Condiciones Generales y Política de Privacidad.            
            </p>
        
            <b>Registro y Uso del Sitio:</b>
            
            <p>                
                            Es obligatorio completar el formulario de registro en todos sus campos con datos válidos para 
                convertirse en Usuario de www.spanishpro.net y acceder a todos sus servicios. Spanishpro.net no 
                se hace responsable por la veracidad de los datos personales que cada usuario registre, el usuario 
                mismo será el responsable de la veracidad de la información. Cada usuario sólo podrá ser titular 
                de 1 (una) cuenta en www.spanishpro.net, no pudiendo acceder a más de 1 (una) cuenta con 
                distintas direcciones de correo electrónico o falseando, modificando y/o alterando sus datos 
                personales de cualquier manera posible.
            </p>
            
            <p>
                El Miembro, una vez registrado, dispondrá de su dirección de email y una clave (en adelante la 
                “Clave”) que le permitirá el acceso personalizado, confidencial y seguro. En caso de poseer estos 
                datos, el Usuario tendrá la posibilidad de cambiar la clave de acceso, para lo cual deberá sujetarse 
                al procedimiento establecido en el sitio respectivo. El Usuario se obliga a mantener la 
                confidencialidad de su Clave de acceso, asumiendo totalmente la responsabilidad por el 
                mantenimiento de la confidencialidad de su Clave secreta registrada en este sitio web, la cual le 
                permite efectuar compras, solicitar servicios y obtener información. Dicha Clave es de uso 
                personal y su entrega a terceros, no involucra de ninguna forma a Spanishpro.net en ningún caso.                
            </p>
            <p>
                El Usuario será responsable por todas las operaciones efectuadas en su Cuenta, pues el acceso a la
                misma está restringido al ingreso y uso de su Clave Secreta, de conocimiento exclusivo del 
                Usuario. El Usuario se compromete a notificar a www.spanishpro.net en forma inmediata y por 
                medio idóneo y fehaciente, cualquier uso no autorizado de su Cuenta y/o Clave, así como el 
                ingreso por terceros no autorizados a la misma.                
            </p>
            <p>
                www.spanishpro.net se reserva el derecho de rechazar cualquier solicitud de registro o de 
                cancelar un registro previamente aceptado, sin que esté obligado a comunicar o exponer las 
                razones de su decisión y sin que ello genere algún derecho a indemnización o resarcimiento.                
            </p>    
            
            <b>Modificaciones del Acuerdo:</b>
            
            <p>
                www.spanishpro.net podrá modificar los Términos y Condiciones Generales en cualquier
                momento haciendo públicos en el Sitio los términos modificados. Todos los términos modificados 
                entrarán en vigor a los 10 (diez) días de su publicación. Dentro de los 10 (diez) días siguientes a la 
                publicación de las modificaciones introducidas, el Usuario deberá comunicar esto por medio 
                escrito; en ese caso quedará disuelto el vínculo contractual y será inhabilitado como Miembro. 
                Vencido este plazo, se considerará que el Usuario acepta los nuevos términos y el contrato 
                continuará vinculando a ambas partes.                
            </p>    
            
            <b>Términos de ley:</b>
            
            <p>
                Este acuerdo será gobernado e interpretado de acuerdo con las leyes de Colombia, sin dar efecto a
                cualquier principio de conflictos de ley. Si alguna disposición de este acuerdo es ilegal, o presenta 
                un vacío, o por cualquier razón resulta inaplicable, la misma deberá ser interpretada dentro del 
                marco del acuerdo y en cualquier caso no afectará la validez y la aplicabilidad de las provisiones 
                restantes.            
            </p>
            
            <b>Reserva de clases:</b>
    
            <p>Para reservar clases tienes dos opciones:</p>
            <ul>
                <li>
                    Ir al Wall/Calendario de profesores y escoger cualquier hora. Al hacer click en la misma, se
                    te remitirá a la página de confirmación. Haciendo click en la confirmación la reserva se 
                    hace efectiva y el token deducido de tu cuenta.
                </li>
                <li>
                    Publicar en el Wall/Calendario de alumnos y esperar a que algún profesor tome la hora.
                    Cuando un profesor confirma que puede darte clase a determinada hora, se genera la 
                    reserva, se deduce el token de tu cuenta y se confirma la reserva.
                    <ul>
                        <li>
                            Si el estudiante decide reservar una clase utilizando el Wall/Calendario de
                            profesores, podrá escoger a su profesor. Por el otro lado, si el estudiante decide 
                            reservar una clase utilizando el Wall/Calendario de estudiantes, cualquier profesor 
                            podrá tomar la hora y hacer efectiva la reserva. Si al estudiante no le gusta el 
                            profesor que tomó la clase que él publicó, el estudiante podrá simplemente 
                            cancelar la clase sin costo alguno, respetando la política de cancelación.                            
                        </li>    
                    </ul>    
                </li>
                <li>
                    En ambos casos se enviará un correo cuando la reserva se haya confirmado con los datos
                    de Skype de ambos participantes para que se agreguen tan pronto puedan.                    
                </li>
                <li>
                    El tiempo máximo para hacer una publicación buscando una reserva es de 8 días para
                    estudiantes.                    
                </li>    
            </ul>
            <p>
                En ambos casos se requiere tener algún token en la cuenta, bien sea el primer token de cortesía o 
                cualquier token que decida comprar posteriormente.                
            </p>
            <p>
                El estudiante sólo podrá reservar máximo 2 clases por día. Es decir podrá tomar solo dos horas de
                profesores del Wall/Calendario de profesores para un mismo día y publicar dos horas en las que 
                quisiera recibir clase en el Wall/Calendario de alumnos. Si requiere por alguna razón especial un 
                mayor número de clases diarias, podrá comunicarse con el administrador directamente.                
            </p>
            <p>
                En otras palabras, si el estudiante ya tiene una reserva para un día determinado, sólo podrá 
                reservar una clase más o hacer una sola publicación más en el Wall/Calendario de alumnos. En 
                total no podrá superar las dos solicitudes o reservas diarias.                
            </p>
        </div>
        
        <h1 ng-click="to_show=2">Funcionamiento de los dos Wall/Calendario</h1>
        
        <div ng-show="to_show==2">
            <b>Wall/Calendario de profesores:</b>
            <p>
                En esta sección, estarán publicadas todas las horas en las que los profesores han decidido ponerse 
                como disponibles para que los alumnos los reserven. Las horas que los profesores han publicado 
                se van venciendo cuando se llegue a 30 minutos de la hora en la que la clase estaba dispuesta. Por 
                ejemplo, si un profesor se hizo disponible para dar clase a las 4 PM y a las 3.30 PM, ningún alumno 
                la ha reservado, la hora simplemente desaparece del calendario.
            </p>
            <p>
                Si un alumno previamente reservó una clase que un profesor había colocado en el Wall/Calendario
                de profesores y después decide cancelarla, la clase volverá a ser mostrada como disponible para 
                ser reservada de nuevo por cualquier alumno, siempre y cuando no se esté a menos de 30 minutos 
                de la hora en que la clase debería comenzar.                
            </p>
            
            <b>Wall/Calendario de alumnos:</b>
            <p>
                En esta sección estarán publicadas todas las horas en las que los alumnos quieren recibir clase de 
                algún profesor. Cuando un alumno publica una hora, les llega una notificación automática a todos 
                los profesores y cualquiera puede tomar la hora y asegurar la reserva. Por lo tanto, cuando el 
                alumno decide escoger esta modalidad de reservación, tiene que saber que puede tener la clase 
                con cualquier profesor.
            </p>
            <p>
                En todo caso el alumno está en libertad de cancelar la clase con el profesor que escogió su hora sin 
                costo alguno, siempre y cuando respete la regla de 30 minutos de anticipación que es explicada en 
                detalle en la sección de Política de cancelación
            </p>
            
            <b>Evaluación gratuita periódica</b>
            
            <p>
                Al final de cada clase, el profesor le entregará al estudiante un formato con las observaciones 
                positivas y negativas de la clase. Spanishpro.net guardará estos formatos, creando un expediente 
                para los estudiantes. Cada 10 clases el estudiante puede solicitar escribiendo al correo de contacto 
                una evaluación de 20 minutos por Skype, en la que el administrador lo evaluará con base en su 
                expediente. De esta forma, el estudiante obtendrá una nota y podrá monitorear su avance.                
            </p>
            
            <b>Vencimiento de los tokens:</b>
            <p>
                No hay ningún vencimiento de los tokens que decidas comprar, puedes usarlos cuando desees.
            </p>
            
            <b>Política de cancelación alumnos:</b>
            <p>
                La política de cancelación de Spanishpro.net es altamente flexible. El estudiante puede cancelar en
                cualquier momento previo a la clase sin ningún costo mientras sea al menos 30 minutos antes de 
                la clase. Si cancela con más de 30 minutos de anticipación, el token será devuelto de manera 
                automática. Si cancela con menos de 30 minutos de anticipación el token no será devuelto.
            </p>
            <p>
                Los alumnos pueden cancelar cualquier solicitud de clase que hagan en el Wall/Calendario antes
                de que se efectúe una reserva sin ningún problema. No podrán tener más de dos solicitudes en el 
                Wall/Calendario de alumnos para el mismo día al mismo tiempo.                
            </p>
            
            <b>Política de cancelación profesores:</b>
            <p>
                En general los profesores no deberían cancelar en ninguna situación, ya que se les evalúa por ello.
                En todo caso, emergencias pueden ocurrir, por lo tanto los profesores pueden cancelar con un 
                tiempo mínimo de dos horas de anticipación sin ser penalizados de forma directa. En caso de que 
                cancelen con más de 2 horas de anticipación, el token será devuelto de manera inmediata al 
                estudiante, junto a un correo de aviso. En los casos de cancelaciones con menor tiempo de 
                anticipación o casos en que el profesor no llegue en los primeros 15 minutos de clase, el profesor 
                será penalizado y el alumno recibirá su token de vuelta además de un token de cortesía en su 
                siguiente compra.                
            </p>
            
            <b>Problemas técnicos durante la clase:</b>
            <p>
                En primer lugar, el estudiante debe garantizar que tiene una excelente conexión a internet al 
                momento de tomar la clase, con el fin de evitar inconvenientes. Se recomienda una conexión que 
                permita realizar video-llamadas. El realizar video-llamadas no es obligatorio, pero es 
                recomendable para mejorar la experiencia de la clase.
            </p>
            <p>
                Nuestros profesores se deben asegurar a su vez de dictar la clase con una excelente conexión de 
                internet. Sin embargo, hay ocasiones en que el servicio se interrumpe por problemas técnicos. En 
                estos casos, se esperará el reporte de retroalimentación del profesor y del alumno y 
                posteriormente se  actuará así:                
            </p>
            
            <ul>
                <li>
                    Si la comunicación se corta, el profesor intentará continuarla durante los 15 minutos 
                    restantes de la hora. Por ejemplo si la clase es de 10:00 a 10:45, se podrá intentar dar la 
                    totalidad de los 45 minutos entre 10:00 y 11:00. Si se logra dar 45 minutos en plena 
                    calidad, no se realizará ninguna devolución.                    
                </li>
                <li>
                    Si durante la hora no es posible continuar y realizar la clase en plena calidad:
                    
                    <ul>
                        <li>
                            Tanto profesor como alumno deben avisar al administrador del tiempo que se
                            alcanzó a hacer clase a plena calidad (Para avisar esto se enviará un correo 
                            electrónico después de la clase tanto al profesor como al alumno para recibir 
                            retroalimentación de ambos). Ante ambos testimonios el administrador enviará 
                            un correo al cliente asegurándole que puede volver a reservar al profesor a una 
                            hora de su conveniencia y que el respectivo crédito se le devolverá después de la 
                            reserva. En este tiempo, se realizará la clase durante los minutos restantes que no 
                            se pudieron dar + 10 minutos de cortesía por los problemas.
                            
                            <ul>
                                <li>
                                    Por ejemplo si una clase se cortó y no se pudo continuar y sólo se
                                    alcanzaron a dictar 25 minutos de clase. El estudiante tendrá derecho a 
                                    reservar al profesor y tomar los 20 minutos restantes más 10 minutos de 
                                    cortesía.                                                                        
                                </li>
                            </ul>    
                        </li>    
                    </ul>    
                </li>    
            </ul>
            
            <b>Política de devolución:</b>
            
            <p>
                Siempre que haya cancelaciones bajo las condiciones de www.spanishpro.net, se devolverá el
                token de forma automática o en algunos casos especiales tales como problemas técnicos, lo hará 
                manualmente el administrador.                
            </p>
            
            <p>
                Frente a la compra de tokens, no se manejarán devoluciones del dinero ni posibilidad de transferir
                los tokens a otros usuarios.                
            </p>
            
            <b>Protección de derechos:</b>
            
            <p>
                Todos los contenidos del presente sitio web son propiedad de Spanishpro.net. Se prohíbe su
                reproducción o imitación a menos que se tenga el consentimiento explícito de Spanishpro.net.                                
            </p>    
        </div>
    </div>
    
    <div content ng-show="language=='en'">
        <h1 ng-click="to_show=1">Terms and conditions</h1>
        
        <div ng-show="to_show==1">
            <p>
                This document describes the general terms and conditions that apply to the access and use of the 
                services offered by Spanishpro.net inside the website www.spanishpro.net. Any person that 
                decides to access or use the services of SpanishPro.net must do it according to this Terms and 
                Conditions, along with the other rules and regulations that govern Spanishpro.net. In 
                consequence, all the transactions made in this site will be regulated under these rules and under 
                the laws of Colombia.
            </p>
            <p>
                Any person who does not agree with them, must not use the site or its services.
            </p>
            <p>
                All users should read and understand all this document, before starting to use the services of 
                Spanishpro.net.
            </p>
            <p>
                If the user decides to use www.spanishpro.net, he will be therefore accepting all what is stated in 
                this terms and conditions and the privacy policy. By using www.spanishpro.net and its services, all 
                users must keep all the rules of the terms and conditions and will not be able to declare ignorance 
                of any of them.
            </p>
            
            <b>Registration and use of the site</b>
            
            <p>
                It is mandatory to complete all the required information in the registration form with valid data in 
                order to access the services of www.spanishpro.net and its services. www.spanishpro.net will not 
                be responsible of the veracity of the information provided by the user. Each user will be able to 
                just hold (1) one account in www.spanishpro.net, not being able to access more than (1) one 
                account by using different mail addresses or different personal data.                
            </p>
            <p>
                The user, once registered will have one email address and one password that will enable him 
                personalized and safe access to his account. The user will agree to keep confidentiality of his 
                password, assuming all the responsibility for the safety of his account. The account in 
                www.spanishpro.net is totally personal and its loss will never involve www.spanishpro.net in any 
                way.
            </p>
            <p>
                The user will be responsible of all the transactions and actions made through his account. The user 
                is committed to tell immediately www.spanishpro.net of any unauthorized use of his account.
                www.spanishpro.net keeps the right to reject any solicitude of any user to register into 
                www.spanishpro.net. www.spanishpro.net also keeps the right to cancel any user´s registration 
                without prior notice or arguments and with no right of any reimbursement.
            </p>
            
            <b>Modifications of the agreement:</b>
            <p>
                www.spanishpro.net will be able to modify the “Terms and conditions” at any time, making them 
                public immediately after the modifications are made. After the changes, the terms and conditions 
                will start to be valid (10) ten days after their publication. During this (10) ten days, the user can 
                communicate if he does not agree with them and the contract between the user and 
                www.spanishpro.net will be broken immediately.
            </p>
            
            <b>Law of Colombia:</b>
            <p>
                This agreement will be under the legislation of Colombia at all times. In case of any dispute, the 
                law of Colombia will be applied.
            </p>
            
            <b>Classes reservation:</b>
            <p>You can reserve classes in 2 ways:</p>
            
            <ul>
                <li>
                    By using the Wall/Calendar of teachers and choosing an hour. By clicking on a specific hour
                    you will be taken to the confirmation sire. By accepting the confirmation, the reserve will 
                    be made and the token will be deducted from your account.
                </li>
                
                <li>                
                    By publishing on the Wall/Calendar of students and waiting for a teacher to take the hour.
                    When a teacher confirms he can take hour, the reservation will be made and the token 
                    will be deducted from your account.
                    
                    <ul>
                        <li>
                            If the student decides to reserve a class by using the Wall/Calendar of teachers, he
                            will choose the specific teacher, whereas if he decides to reserve using the 
                            Wall/Calendar of students, any teacher can take the hour and make the 
                            reservation effective. If the student does not like the teacher that took his hour, 
                            the student is free to cancel it without any cost, without violating the cancellation 
                            policy.                            
                        </li>    
                    </ul>    
                </li>
                
                <li>
                    In both cases, the student requires to have at least one token on his account. It can be the
                    courtesy token of the first class or any token that he decides to buy.
                </li>
                
                <li>
                    The maximum time to publish a reservation request is 8 days for students.
                </li>                
            </ul>
            
            <p>
                The student will be able to reserve a maximum of 2 classes per day. In other words, he will be 
                able to take just two hours of the Wall/Calendar of teachers for a given day and to publish a 
                maximum of 2 hours on the Wall/Calendar of students. If by any specific reason the user 
                requires more, he can contact the administrator for a special permit.                
            </p>
            
            <p>
                In other words, if the student already has a reservation for a specific day, he will be able to 
                reserve just one more class or to publish just one more hour on the Wall/Calendar of students. 
                In total he will not be able to have more than 2 requests or reservations for the same day.                
            </p>    
        </div>
        
        <h1 ng-click="to_show=2">Functioning of the 2 Wall/Calendars:</h1>
        
        <div ng-show="to_show==2">
            <b>Wall/Calendar of teachers:</b>
            
            <p>
                In this section, there will be published all the hours in which the teachers have decided to 
                make themselves available to give a class so that the students can reserve them. All the hours 
                that are published will expire 30 minutes before the time in which they are supposed to take 
                place. For instance, if a teacher made himself available to give a class at 4 PM and by 3:30 PM 
                no student has taken that hour, the hour will simply disappear from the calendar.
            </p>

            <p>
                If a student previously reserved an hour that a teacher had put on the Wall/Calendar of 
                teachers and he decides later to cancel it, the class will be available again on the 
                Wall/Calendar of teachers so that any other student can take it. This will happen unless there 
                is less than 30 minutes before the start of the class.
            </p>
            
            <b>Wall/Calendar of students:</b>
            <p>            
                In this section, there will be published all the hours in which the students want to receive class
                from any teacher. When a student publishes an hour, an automatic notification will be sent to 
                all the teachers so that any of them can take the hour and make the reservation. Therefore, 
                when the student decides to make the reservation using this mechanism, he must know that 
                the class can be reserved with any teacher.
            </p>
            <p>
                Anyway if the student dislikes the teacher he can simply cancel it with no cost, without 
                violating the 30 minutes in advance cancellation rule that is fully explained in the Cancelation 
                Policy section.
            </p>
            
            <b>Free periodic evaluation:</b>
            <p>
                At the end of each class, the teacher will give the student a form which points out the positive and 
                negative aspects of the student´s performance. This forms will be saved by Spanishpro.net and will 
                be kept to create a file of the student. Every 10 classes, the student can ask for the evaluation. This 
                evaluation will consist of 20 minutes in Skype with the manager of the site. In this time, the 
                manager will evaluate the student performance on the previous points in which the student made 
                mistakes. Afterwards, the student will receive a score which he can use to keep track of his 
                progress.
            </p>
            
            <b>Expiration of the tokens:</b>
            <p>There is not expiration of the tokens you buy. You can use them whenever you like.</p>
            
            <b>Student´s cancelation policy:</b>
            <p>
                The cancelation policy of spanishpro.net is highly flexible. The student can cancel at any time 
                before the class with no cost. The only rule is not to cancel with less than 30 minutes in advance. If 
                you cancel with more than 30 minutes in advance, you token will be automatically returned, but if 
                you cancel with less time, your token will not be returned.
            </p>
            <p>
                Students can cancel any hour publication they made on the Wall/Calendar before the reservation 
                is made without any limitation. They will not be able to have more than three publications on the 
                Wall/Calendar of students per day.
            </p>
            
            <b>Teacher´s cancelation policy:</b>

            <p>
                In general the teachers must no cancel any reservation, because they are evaluated on it. Anyway, 
                emergencies happen, so the teachers are allowed to (but should not) cancel with a minimum time 
                of 2 hours without being directly punished. In the case where they cancel with more than 2 hours 
                in advance, the token will be automatically returned to the student along with an email telling the 
                student about the cancelation. If the cancelation is made with less time in advance or if the 
                teacher simply does not show up during the first 15 minutes of the class, the teacher will be 
                penalized and the student will receive his token back, plus a free token in his next purchase.
            </p>
            
            <b>Technical problems during the class:</b>
            <p>
                In the first place, the student must guarantee that he has an excellent internet connection at the 
                moment of taking the class in order to avoid any inconveniences. We recommend a connection 
                that can be able to support video – calls. Making the class through video- call is not mandatory but 
                highly recommended in order to give the best possible class experience.
            </p>
            
            <p>
                Our teachers should ensure an excellent internet connection as well. However there are
                moments in which the service is interrupted due to technical problems. In this cases, the 
                administrator will wait for the feedback email of both the student and the teacher and will act 
                following this:                
            </p>
            
            <ul>
                <li>
                    If during the class the communication is broken, the teacher will try to continue the class
                    during the remaining 15 minutes of the hour. For instance if the class is between 10:00 
                    and 10:45, the teacher will try to complete the 45 minutes of class between 10:00 and 
                    11:00. If the teacher manage to give 45 minutes under excellent quality conditions, there 
                    won’t be any reimbursement.                    
                </li>
                
                <li>
                    If during the hour it is not possible to continue the class in good quality:
                    
                    <ul>
                        <li>
                            Both the teacher and the student will need to inform the administrator about the
                            time that they were able to complete. They will be able to inform it through the 
                            feedback email that will be sent to them after the class. After these testimonies 
                            the administrator will send an email assuring the student that he can reserve 
                            another time the same teacher to have the remaining minutes and the token will 
                            be refunded after the reservation. In this new hour, the teacher will give the 
                            student the remaining minutes that could not be given + 10 minutes of courtesy.
                            
                            <ul>
                                <li>
                                    For instance if in a class the teacher was able just to give 25 minutes of
                                    class, in the next promotional class he will give the student 30 minutes of 
                                    class. (20 minutes of the previous class that could not be completed and 
                                    10 minutes of courtesy).                                    
                                </li>
                            </ul>    
                        </li>    
                    </ul>    
                </li>
                
            </ul>
            
            <b>Return policy:</b>

            <p>
                In the event of cancelations under the conditions of Spanishpro.net, the token will be 
                automatically returned or manually by the administrator.
            </p>
            <p>
                Regarding the purchase of the tokens, there will not be a money refund and the tokens will not be 
                transferable.
            </p>
            
            <b>Copyright protection:</b>

            <p>
                All the content of this site is propriety of Spanishpro.net. All imitation and reproduction is 
                forbidden without the express consent of Spanishpro.net.
            </p>
        </div>    
    </div>    
</div>    
